body{font-family: Arial, sans-serif;
     display: flex;
    justify-content: center;
margin-top: 50px;   }

.container{
    width: 400px
}

#task-input{
   width: 70%;
   padding: 8px; 
}

#task-input-button{
    padding: 8px 12px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: #f0f0f0;
}

.container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}
